{% comment %}
{% assign projects = site.data.data.projects %}
{% endcomment %}

{% assign projects = site.data.project_data.projects %}

{% if projects %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ projects.title }}
  </h2>

  {% if projects.intro %}
  <div class="intro">
      <p>{{ projects.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for project in projects.assignments %}
    <div class="item">

     <div class="meta">

        <div class="upper-row">
          {% if project.category %}
          <h3 class="degree">{{ project.category }}</h3>
          {% endif %}
          {% if project.time %}
          <div class="time">{{ project.time }}</div>
          {% endif %}
        </div><!--//upper-row-->

        <div class="upper-row">
          <span class="project-title">
          {% if project.link %}
          <a href="{{ project.link }}" target="_blank"><div class="university">{{ project.title }}</div></a>
          {% else %}
          <div class="university">{{ project.title }}</div>
          {% endif %}
          </span>
          {% if project.location %}
          <div class="location">{{ project.location }}</div>
          {% endif %}
        </div><!--//upper-row-->
        
      </div><!--//meta-->

      {% if project.tagline %}
      <span class="project-tagline">{{ project.tagline }}</span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
